$font-color: #f59e0b;
$description-color: #f59e0b;
$color-primary: #4A5568;
$color-secondary: #718096;
$color-twitter: #60A5FA;
$color-facebook: #2563EB;
$color-dribbble: #EC4899;
$color-google: #DC2626;
$color-instagram: #1E293B;




