$font-primary: "Play", sans-serif;

// Media Queries Breakpoints
$bp-small: 600px;
$bp-medium: 900px;
$bp-large: 1200px;



img {
  max-width: 100%;
  height: auto;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
 
}

.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: transparent;
  margin: 0 auto;
  padding: 2rem 2rem;
  font-size: 16px;
  text-align: center;

  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    color: red;
  }
   &:active {
    color: #1a202c;
  }
}
